<a href="https://colab.research.google.com/github/Riddhigupta3011/ANN_churn_modelling/blob/main/ANN_churn_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ARTIFICIAL NEURAL NETWORK

# Part 1 - Data Preprocessing

Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importing Dataset

In [ ]:
dataset=pd.read_csv("/content/drive/MyDrive/Churn_Modelling.csv")

In [ ]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

Encoding categorical data

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer 
from sklearn.preprocessing import OneHotEncoder
labelencoder=LabelEncoder()
dataset['Gender']=labelencoder.fit_transform(dataset['Gender'])
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary  Exited
0          1    15634602  Hargrave  ...               1       101348.88       1
1          2    15647311      Hill  ...               1       112542.58       0
2          3    15619304      Onio  ...               0       113931.57       1
3          4    15701354      Boni  ...               0        93826.63       0
4          5    15737888  Mitchell  ...               1        79084.10       0

[5 rows x 14 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
labelencoder=LabelEncoder()
dataset['Geography'] = labelencoder.fit_transform(dataset['Geography'])
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember  EstimatedSalary  Exited
0          1    15634602  Hargrave  ...               1        101348.88       1
1          2    15647311      Hill  ...               1        112542.58       0
2          3    15619304      Onio  ...               0        113931.57       1
3          4    15701354      Boni  ...               0         93826.63       0
4          5    15737888  Mitchell  ...               1         79084.10       0

[5 rows x 14 columns]

In [ ]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

Splitting the dataset into training set and test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2, random_state=0)

Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.transform(X_test)

importing the keras librabries nd packages

In [ ]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense

# Part 2 - Now let's make the ANN!

Initialising the ANN

In [ ]:
ANN = Sequential()
ANN=tf.keras.models.Sequential()
#Adding the input layer and the first hidden layer
ANN.add(tf.keras.layers.Dense(units=6,activation='relu'))
#Adding the second hidden layer
ANN.add(tf.keras.layers.Dense(units=6,activation='relu'))

ANN.add(tf.keras.layers.Dense(units=6,activation='softmax'))
#Adding the output layer
ANN.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

In [ ]:
#Compiling the ANN
ANN.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])

In [ ]:
#Fitting the ANN to the training set
ANN.fit(X_train, y_train, epochs=100, batch_size=32)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6049 - accuracy: 0.7958
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5012 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4726 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4531 - accuracy: 0.8023
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4349 - accuracy: 0.8158
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4187 - accuracy: 0.8216
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4068 - accuracy: 0.8221
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3965 - accuracy: 0.8239
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3883 - accuracy: 0.8281
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3813 - accuracy: 0.8438
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3759 - accuracy: 0.8533
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3719 - accuracy: 0.8530
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3681 - accuracy: 0.8549
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3652 - accuracy: 0.8546
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3631 - accuracy: 0.8545
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3607 - accuracy: 0.8571
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3586 - accuracy: 0.8560
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3566 - accuracy: 0.8579
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3559 - accuracy: 0.8560
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3539 - accuracy: 0.8587
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3530 - accuracy: 0.8579
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3519 - accuracy: 0.8581
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3508 - accuracy: 0.8618
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3503 - accuracy: 0.8597
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3492 - accuracy: 0.8622
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3486 - accuracy: 0.8619
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3477 - accuracy: 0.8611
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8591
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3467 - accuracy: 0.8622
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3456 - accuracy: 0.8629
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3455 - accuracy: 0.8622
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3453 - accuracy: 0.8620
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3448 - accuracy: 0.8606
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8643
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8618
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3437 - accuracy: 0.8612
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8619
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8625
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8646
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3422 - accuracy: 0.8640
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8616
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8644
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8636
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8627
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8639
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3405 - accuracy: 0.8635
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8633
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8620
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8624
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8634
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8650
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8626
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8640
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8651
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8637
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8639
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3370 - accuracy: 0.8612
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3370 - accuracy: 0.8634
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8644
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8651
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8643
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8644
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8637
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8652
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3353 - accuracy: 0.8652
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8659
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8651
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8660
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8658
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8665
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8637
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8658
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8664
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8659
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8660
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8664
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8660
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8674
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8659
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8671
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8662
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8660
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8658
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8684
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8660
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8674
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8664
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8673
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8680
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8664
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8671
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8659
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8671
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8684
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8666
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8677
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8671
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8670
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8671
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8671

 # Part 3 - Making the predictions and evaluating the model

In [ ]:
#Predicting the Test set results
y_pred = ANN.predict(X_test)
y_pred = (y_pred > 0.5)

In [ ]:
#Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test , y_pred)
cm

array([[1512,   83],
       [ 195,  210]])